@import './styles/reset.css';
@import './styles/boot.css';
@import './styles/login.css';
@import './styles/taskbar.css';
@import './styles/app.css';

.os {
    display: flex;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
}

#desktop{
    width: 100%;
    height: 80%;
    flex-grow: 1;
    flex-shrink: 1;
    background-repeat: no-repeat;
    background-size: cover;
}

.desktopAppContainer{
    height: 95%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: flex-start;
    overflow: hidden;
}

.root {
    --system-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}