#start_orb{
    position: fixed;
    bottom: -4px;
    left: 1em;
    width: 65px;
    height: 45px;
    background-image: url('/assets/ui/startorb.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 9999998;
}

#start_orb:hover{
    filter: brightness(1.2);
}

.startMenu{
    position: fixed;
    bottom: 30px;
    width: 400px;
    height: 600px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 0.5px solid rgb(165, 164, 164);
    border-right: 0.5px solid rgb(165, 165, 165);
    background: rgba(15, 15, 15, 0.836);
    box-shadow: black 4px 5px 8px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 9999995;
}

/** LEFT COLUMN **/
.left-column{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-wrapper{
    margin-top: 10px;
    width: 95%;
    height: 91%;
    border-radius: 3px;
    border: 0.5px solid rgb(165, 165, 165);
    box-shadow: black 4px 5px 8px 0;
    background: #fff;
    align-self: flex-start;
}

#startmenu-search{
    position: absolute;
    bottom: 10px;
    width: 57%;
}

.programContainer{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
}

.pinnedApp{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3px;
}

.pinnedApp:hover{
    border-radius: 5px;
    background: linear-gradient(180deg, #ebf4f7 5%, #c3d8e0 100%);
    border-radius: 5px;
}

.pinnedAppIconWrapper{
    width: 35px;
    height: 40px;
    margin-right: 5px;
}

.pinnedAppIcon{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.listWrapper{
    max-height: 95%;
    overflow: scroll;
}

.listWrapper::-webkit-scrollbar{
    display: none;
}

.listToggleContainer{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3px;
    align-self: flex-end;
    width: 98%;
}

.toggleDivider{
    width: 90%;
    height: 1px;
    border-radius: 20px;
    background: linear-gradient(180deg, #dfdfdf 5%, #474747 100%);
    margin: 2px;
}

.toggleBtn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3px;
    width: 100%;
    margin: 4px;
}

.toggleBtn:hover{
    border-radius: 5px;
    background: linear-gradient(180deg, #ebf4f7 5%, #c3d8e0 100%);
    border-radius: 5px;
}

#toggleArrow{
    transform: rotate(90deg);
    margin-right: 20px;
}

.toggleText{
    font-weight: bold;
}

/** RIGHT COLUMN **/
#right-column{
    width: 38%;
    height: 90%;
    display: flex;
    flex-flow: column;
    align-content: center;
    color: white;
}

#frame-container{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.userFrame{
    width: 80px;
    height: 80px;
    position: relative;
    top: -25px;
}

#userPic{
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: -1;
    top: -15px;
}

.startmenu-folders{
    display: flex;
    flex-flow: column;
    padding: 5px;
}

.folder-container{
    padding-left: 5px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-shadow: 2px 1px 1px #000;
}

.folder-container:hover{
    border-radius: 5px;
    background: linear-gradient(180deg, #ADD8E6 5%, #708992 100%);
    border-radius: 5px;

}


.divider{
    width: 100%;
    height: 3px;
    border-radius: 20px;
    background: linear-gradient(180deg, #161616 5%, #474747 100%);
    margin: 2px;
}