.vista-window {
    position: absolute;
    left: 15%;
    top: 5%;
    width: 75%;
    height: 75%;
}

.window {
    width: 100% !important;
    height: 100% !important;
}

.desktopApp {
    width: 110px;
    height: 110px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.desktopApp:hover {
    background: rgba(0, 120, 215, 0.1555);
}

.iconWrapper {
    width: 75px;
    height: 75px;
}

.iconWrapper > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.desktopAppTitle {
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

